@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
.main {
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: flex-end;
}
.ul {
  display: flex;
  width: 10%;
  justify-content: space-between;
  padding: 0;
  margin: 5px 10px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-column-gap: 10px;
}

.mainInfo {
  padding: 165px 30px;
}
.hello {
  font-family: "Anonymous Pro", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 1px;
  color: #ff895d;
  margin: 0;
}
.name {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 75px;
  color: #ffffff;
  margin: 12px 0;
}
.occupation {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.77);
  margin: 0 0 40px;
}

.viewButton {
  cursor: pointer;
}

.viewButton:hover img {
  transform: rotate(90deg);
  transition: 0.3s linear;
}

.viewButton img {
  margin: 0 0 0 8px;
  width: 20px;
  height: 20px;
}

.iconButton {
  cursor: pointer;
}
.iconButton:focus {
  box-shadow: none !important;
}

.socialButton {
  border: transparent !important;
  margin-bottom: 10px;
  cursor: pointer;
}
.socialButton:hover {
  transform: scale(1.2);
}
.socialButton:focus {
  box-shadow: none !important;
}

.socialContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}
.buttonContainer {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
